body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 70px;
}

header {
  background-color:#4CAF50;
  width: 100%;
  padding: 20px;
  color: blue;
  text-align: center;
  position: fixed; /* Fixes header at the top of the viewport */
  top: 0; /* Aligns it to the very top */
  left: 0;
  z-index: 1000; /* Ensures header stays above other elements */
}



.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  
}

button:hover {
  background-color: #4CAF50;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}

footer {
  background-color: #4CAF50;
  width: 100%;
  padding: 10px;
  color:blue;
  text-align: center;
  position: absolute;
  bottom: 0;
}